* {
    box-sizing: border-box;
}

body {
    max-width: 98vw;
    background-color: azure;
    position: relative;
}

header {
    background-color: lightgray;
    padding: 30px 0;
    text-align: center;
}

#jogo {
    margin: 30px auto 0;
    background-color: white;
    max-width: 800px;
    max-height: 800px;
    position: relative;
}

#botao-iniciar {
    color: white;
    font-size: 1.5em;
    background-color: rgba(42, 80, 202, 0.466);
    width: 100%;
}

#tabuleiro {
    margin-top: 30px;
    position: relative;
    width: 100%;
}

.casa {
    position: absolute;
    padding: 15px;
    border: 1px solid black;
}

h2 {
    padding: 30px 0;
    text-align: center;
    font-size: 2em;
    color: red;
}
